.navbar {
  background: #111827;
  padding: 20px 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #334155;
}

.navbar h2 {
  color: #38bdf8;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  font-weight: bold;
}

.page {
  padding: 40px;
}

.hero {
  min-height: 80vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.hero h1 {
  font-size: 60px;
  margin-bottom: 20px;

  color: #38bdf8;
}

.hero p {
  font-size: 20px;
  max-width: 700px;
  color: #cbd5e1;
}

.form-container {
  background: #111827;
  padding: 30px;
  border-radius: 15px;
  margin-bottom: 40px;
}

.form-container h2 {
  margin-bottom: 20px;
  color: #38bdf8;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input,
textarea {
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: #1e293b;
  color: white;
  font-size: 16px;
}

textarea {
  height: 120px;
}

button {
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: #38bdf8;
  color: black;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.candidate-list h2 {
  margin-bottom: 20px;
  color: #38bdf8;
}

.candidate-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  gap: 20px;
}

.candidate-card {
  background: #111827;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #334155;
}

.candidate-card h3 {
  color: #38bdf8;
  margin-bottom: 10px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 15px 0;
}

.skills span {
  background: #38bdf8;
  color: black;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
}

.ai-box {
  margin-top: 40px;
  background: #111827;
  padding: 25px;
  border-radius: 15px;
  border: 1px solid #334155;
}

.ai-box h2 {
  color: #38bdf8;
  margin-bottom: 20px;
}

.ai-box pre {
  white-space: pre-wrap;
  line-height: 1.7;
  color: #e2e8f0;
}